body {
  background: url(../img/Layer.png) no-repeat;
}
.bg-tabs {
  margin-top: 25px;
}
.box1 {
  border-radius: 5px;
  font-size: 24px;
  margin-left: 30px;
  padding: 7px 25px;
  margin-right: 13px;
  background-color: #03a5db;
  color: #fff;
  font-family: sans-serif;
}
.box2 {
  border-radius: 5px;
  font-size: 24px;
  padding: 6px 10px;
  font-family: sans-serif;
  color: #080808;
  background-color: #fff;
}
.box1-2 {
  background-color: #03a5da;
  border: 1px solid #047ca0;
  width: 630px;
  height: 410px;
}
.box1-2-3 {
  border: 1px solid #000000;
  margin-left: 25px;
  margin-top: 21px;
  width: 580px;
  height: 365px;
  background-color: #000000;
}
.input1 {
  margin-top: 70px;
  margin-bottom: 30px;
  padding: 20px 20px;
  display: block;
  margin-left: 43px;
  color: #fff;
  background-color: #1b1a1a;
  border-radius: 5px;
  border: none;
  width: 480px;
  font-family: sans-serif;
  font-size: 21px;
}
.input2 {
  margin-bottom: 20px;
  padding: 20px 20px;
  display: block;
  margin-left: 43px;
  color: #fff;
  background-color: #1b1a1a;
  border-radius: 5px;
  border: none;
  width: 480px;
  font-family: sans-serif;
  font-size: 21px;
}
.a1 {
  display: block;
  font-family: sans-serif;
  color: #c51f03;
  font-size: 15px;
  margin-left: 60px;
}
.btn {
  width: 127px;
  font-size: 24px;
  font-family: sans-serif;
  background-color: #8f0b01;
  color: #fff;
  margin-left: 489px;
  padding: 3px 18px 3px 10px;
  border: none;
  display: inline-block;
}
.input3 {
  font-size: 15px;
  color: #4e4c4c;
  display: inline-block;
  margin-left: 60px;
  margin-top: 12px;
}
.box2-1 {
  background-color: #000;
}
.header2 {
  font-family: sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
  padding: 40px 20px;
}
.btn1 {
  width: 170px;
  font-size: 24px;
  font-family: sans-serif;
  background-color: #8f0b01;
  color: #fff;
  margin-left: 489px;
  padding: 3px 18px 3px 10px;
  border: none;
  border-radius: 8px;
  display: inline-block;
}
