.section-header-contacts {
  position: relative;
}
.contacts {
  position: absolute;
  margin-top: 44px;
  border: 2px solid #c60b0b;
  width: 380px;
  height: 350px;
  background-color: #c60b0b;
  display: inline-block;
  color: #fff;
  z-index: 100;
}
.section-header {
  margin-top: 40px;
  font-size: 30px;
}
.p-1 {
  text-align: center;
  font-size: 18px;
}
.p-2 {
  text-align: center;
  font-size: 18px;
}
.p-3 {
  text-align: center;
  font-size: 18px;
}
.p-4 {
  text-align: center;
  font-size: 18px;
}
.info-block {
  margin-top: 26px;
}
.info-block h5 {
  font-size: 16px;
}
.info-block .lizense {
  font-size: 14px;
  color: #666666;
  margin-top: 12px;
}
.info-block a {
  color: #260b0b;
  font-size: 20px;
}
.info-block .contact {
  color: #260b0b;
  font-size: 14px;
}
